@{
    ViewData["Title"] = "Character";
}
@model Class
<div class="text-center">
    <h1 class="h1">@Model.Name</h1>
    <div class="row text-start">

        <div><strong>@Model.Description</strong></div>
        <div class="h3 mt-3">Class Features</div>
        <div>As a <span>@Model.Name</span>, you gain the following class features.</div>
        <div class="h5">Hit Points</div>
        <div class="col-12">
            <div><strong>Hit Dice: </strong> 1d<span>@Model.HitDie</span> per @Model.Name</div>
            <div><strong>Hit Points at 1st Level: </strong> <span>@Model.HitDie</span> + your Constitution modifier</div>
            <div><strong>Hit Points at Higher Levels: </strong> 1d<span>@Model.HitDie</span> (or <span id="hitDieAvg"></span>) + your Constitution modifier per barbarian level after 1st</div>

        </div>

        <div class="h5 mt-1">Proficiencies</div>
        <div class="col-12">
            <div><strong>Armor: </strong> 1d @Model.HitDie per @Model.Name</div>
            <div><strong>Weapons: </strong> @Model.HitDie + your Constitution modifier</div>
            <div><strong>Tools: </strong> 1d @Model.HitDie (or <span id="hitDieAvg"></span>) + your Constitution modifier per barbarian level after 1st</div>
            <div><strong>Saving Throws: </strong> 1d @Model.HitDie (or <span id="hitDieAvg"></span>) + your Constitution modifier per barbarian level after 1st</div>
            <div><strong>Skills: </strong> 1d @Model.HitDie (or <span id="hitDieAvg"></span>) + your Constitution modifier per barbarian level after 1st</div>               
        </div>

        <div class="h5 mt-1">Starting Equipment</div>
        <div class="col-12">
            
        </div>

    </div>
    <div class="col-12">
    </div>
    <div class="col-12">
    </div>
    <div class="col-12">
    </div>
</div>

<script>
    $('#hitDieAvg').text(@Model.HitDie / 2 + 1);

</script>